/* @use postcss-nested; */

.uni {
    width: 800px;
    height: 500px;
    margin: auto;
    position: relative;
    background: #42B0CE;
    overflow: hidden;
}

.uni__uni {
    position: absolute;
    top: 250px;
    left: 200px;
    width: 370px;
    height: 210px;
    z-index: 2;
}
.uni__uni:before {
    content: '';
    position: absolute;
    top: 200px;
    left: -10px;
    width: 250px;
    height: 20px;
    border-radius: 100%;
    background: #398CA5;
}

.uni__wheel {
    position: absolute;
    top: 68px;
    left: 9px;
    width: 140px;
    height: 140px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 5px solid #27292B;
    box-shadow: inset 0 1px 0 5px white;
}
.uni__wheel:after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: white;
    z-index: 30;
}
.uni__wheel:nth-child(1):after {
    top: 60px;
    left: 60px;
}
.uni__wheel:nth-child(2):after {
    top: 63px;
    left: 59px;
}
    
.uni__wheel:nth-child(1) {
    animation: .8s uni-wheel-1 linear infinite;
}

.uni__wheel:nth-child(1) .uni__needle:nth-child(1) {
    position: absolute;
    top: 18px;
    left: 16px;
    height: 42px;
    width: 42px;
    border-top: 4px solid white;
    border-left: 2px solid white;
    border-radius: 100% 0;
}

.uni__wheel:nth-child(1):before .uni__needle:nth-child(1):before {
    content: '';
    position: absolute;
    top: -10px;
    left: 27px;
    height: 20px;
    width: 20px;
    background: #42B0CE;
    transform: rotate(-20deg); 
}

.uni__wheel:nth-child(1):after .uni__needle:nth-child(1):after {
    content: '';
    position: absolute;
    top: 25px;
    left: -7px;
    height: 24px;
    width: 24px;
    background: #42B0CE; 
    transform: rotate(20deg);
}

.uni__seat-tube {
    position: absolute;
    top: 28px;
    left: 6px;
    width: 6px;
    height: 115px;
    background: #EF425A;
    box-shadow: inset 2px 0 0 0 #C73149;
}

.uni__star {
    position: absolute;
    top: 135px;
    left: 0px;
    width: 15px;
    height: 15px;
    background: #C73149;
    transform: rotate(43deg);
    border-radius: 100%;
    animation: .8s uni-star linear infinite;
    z-index: 3;
}
.uni__star:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #C73149;
    border-radius: 100%;
}
.uni__star:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #C73149;
    border-radius: 100%;
}

.uni__pedal {
    position: absolute;
    top: 11px;
    left: 12px;
    width: 42px;
    height: 2px;
    background: #27292B;
    transform-origin: left center;
    transform: rotate(59deg);
    z-index: 10;
}
.uni__pedal:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 30px;
    width: 24px;
    height: 5px;
    background: #27292B;
    transform-origin: center center;
    transform: rotate(-94deg);
    animation: .8s uni-pedal linear infinite;
}

.uni__pedal:nth-child(1) {
    position: absolute;
    top: 11px;
    left: 12px;
    width: 42px;
    height: 2px;
    background: #27292B;
    transform-origin: left center;
    transform: rotate(239deg);
    z-index: -4;
}
.uni__pedal:nth-child(1):before {
    content: '';
    position: absolute;
    top: -2px;
    left: 30px;
    width: 24px;
    height: 5px;
    background: #27292B;
    transform-origin: center center;
    transform: rotate(-293deg);
    animation: .8s uni-pedal-back linear infinite;
}

.uni__seat {
    position: absolute;
    top: 13px;
    left: 6px;
    width: 5px;
    height: 20px;
    background: #27292B;
    transform: rotate(-4deg);
}
.uni__seat:before {
    content: '';
    position: absolute;
    top: -16px;
    left: -13px;
    width: 40px;
    height: 24px;
    box-sizing: border-box;
    border-bottom: 4px solid #27292B;
    border-left: 4px solid #27292B;
    border-radius: 0 100%;
    transform: rotate(0deg);
}
.uni__seat:after {
    content: '';
    position: absolute;
    top: -13px;
    left: -7px;
    width: 36px;
    height: 16px;
    background: #27292B;
    border-radius: 0 100% 0 100%;
    transform: rotate(10deg);
}

.uni__tubes {
    position: absolute;
    top: 0px;
    left: 70px;
    transform: rotate(0deg);
    width: 124px;
    height: 170px;
    animation: .8s uni-tubes linear infinite;
}

.uni__man {
    position: absolute;
    top: 60px;
    left: 280px;
    width: 300px;
    height: 400px;
    animation: .8s uni-man linear infinite;
}

.uni__butt {
    position: absolute;
    top: 168px;
    left: -20px;
    width: 40px;
    height: 40px;
    background: #4A0A23;
    border-radius: 2px 0 0 20px;
    transform: rotate(28deg);
    transform-origin: bottom right;
    animation: .8s uni-butt linear infinite;
    z-index: 5;
}

.uni__front-leg {
    position: absolute;
    top: 179px;
    left: 15px;
    width: 38px;
    height: 116px;
    background: #4A0A23;
    border-radius: 20px 20px 90% 0;
    transform-origin: left 22px;
    transform: rotate(-38deg);
    animation: .8s uni-front-leg linear infinite;
    z-index: 5;
}
.uni__front-leg:before {
    content: '';
    position: absolute;
    top: 85px;
    left: 0px;
    width: 22px;
    height: 20px;
    background: #4A0A23;
    border-radius: 100%;
    transform-origin: left top;
}
.uni__front-leg .uni__shin {
    position: absolute;
    top: 105px;
    left: 10px;
    width: 7px;
    height: 60px;
    background: #4A0A23;
    transform-origin: -3px top;
    transform: rotate(79deg);
    animation: .8s uni-front-leg-shin linear infinite;
}
.uni__front-leg:before .uni__shin:before {
    content: '';
    position: absolute;
    top: -12px;
    left: -15px;
    width: 22px;
    height: 28px;
    background: #4A0A23;
    border-radius: 100% 100% 0;
}
.uni__front-leg:after .uni__shin:after {
    content: '';
    position: absolute;
    top: 22px;
    left: -20px;
    width: 0;
    height: 0;
    border-left: 34px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #4A0A23;
    transform: rotate(-112deg);
}

.uni__front-leg .uni__skin {
    position: absolute;
    top: 60px;
    left: 2px;
    width: 4px;
    height: 80px;
    background: linear-gradient(to bottom, #efa47b 0%,#efa47b 40%,#27292b 41%,#27292b 100%);
    border-radius: 0 0 2px 2px;
    transform: rotate(1deg);
}
.uni__front-leg:before .uni__skin:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -5px;
    border-top: 5px solid #75012C;
    border-left: 2px solid transparent;
    border-right: 3px solid transparent;
    height: 0;
    width: 9px;
    transform: rotate(-10deg);
}
.uni__front-leg:after .uni__skin:after {
    content: '';
    position: absolute;
    top: 14px;
    left: -4px;
    width: 12px;
    height: 2px;
    border-radius: 2px;
    background: #27292B;
}

.uni__front-leg .uni__ked {
    position: absolute;
    top: 135px;
    left: -6px;
    width: 35px;
    height: 10px;
    background: #27292B;
    border-bottom: 3px solid white;
    border-radius: 10px 100% 2px 0;
    transform-origin: 5px top;
    transform: rotate(-40deg);
    animation: .8s uni-front-leg-ked linear infinite;
}
.uni__front-leg:before .uni__ked:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 28px;
    width: 20px;
    height: 5px;
    background: #27292B;
    border-bottom: 3px solid white;
    border-radius: 2px 6px 2px 2px;
    transform-origin: left 5px;
    transform: rotate(-70deg);
    animation: .8s uni-front-leg-ked-nose linear infinite;
}
.uni__front-leg:after .uni__ked:after {
    content: '';
    position: absolute;
    top: -3px;
    left: -4px;
    width: 12px;
    height: 5px;
    border-radius: 2px;
    background: #27292B;
    transform: rotate(-90deg); 
}

.uni__back-leg {
    position: absolute;
    top: 179px;
    left: 15px;
    width: 38px;
    height: 116px;
    background: #4A0A23;
    border-radius: 20px 20px 90% 0;
    transform-origin: left 22px;
    transform: rotate(-103deg);
    animation: .8s uni-back-leg linear infinite;
    z-index: 1;
}
.uni__back-leg:before {
    content: '';
    position: absolute;
    top: 85px;
    left: 0px;
    width: 22px;
    height: 20px;
    background: #4A0A23;
    border-radius: 100%;
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.uni__back-leg .uni__shin {
    position: absolute;
    top: 105px;
    left: 10px;
    width: 7px;
    height: 60px;
    background: #4A0A23;
    transform-origin: -3px top;
    transform: rotate(149deg);
    animation: .8s uni-back-leg-shin linear infinite;
}
.uni__back-leg:before .uni__shin:before {
    content: '';
    position: absolute;
    top: -12px;
    left: -15px;
    width: 22px;
    height: 28px;
    background: #4A0A23;
    border-radius: 100% 100% 0;
}
.uni__back-leg:after .uni__shin:after {
    content: '';
    position: absolute;
    top: 22px;
    left: -20px;
    width: 0;
    height: 0;
    border-left: 34px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #4A0A23;
    transform: rotate(-112deg);
}

.uni__back-leg .uni__skin {
    position: absolute;
    top: 60px;
    left: 2px;
    width: 4px;
    height: 80px;
    background: linear-gradient(to bottom, #efa47b 0%,#efa47b 40%,#27292b 41%,#27292b 100%);
    border-radius: 0 0 2px 2px;
    transform: rotate(1deg);
}
.uni__back-leg:before .uni__skin:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -5px;
    border-top: 5px solid #75012C;
    border-left: 2px solid transparent;
    border-right: 3px solid transparent;
    height: 0;
    width: 9px;
    transform: rotate(-10deg);
}
.uni__back-leg:after .uni__skin:after {
    content: '';
    position: absolute;
    top: 14px;
    left: -4px;
    width: 12px;
    height: 2px;
    border-radius: 2px;
    background: #27292B;
}

.uni__back-leg .uni__ked {
    position: absolute;
    top: 135px;
    left: -6px;
    width: 35px;
    height: 10px;
    background: #27292B;
    border-bottom: 3px solid white;
    border-radius: 10px 100% 2px 0;
    transform-origin: 5px top;
    transform: rotate(-50deg);
    animation: .8s uni-back-leg-ked linear infinite;
}
.uni__back-leg:before .uni__ked:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 32px;
    width: 20px;
    height: 5px;
    background: #27292B;
    border-bottom: 3px solid white;
    border-radius: 2px 6px 2px 2px;
    transform-origin: left 5px;
    transform: rotate(-10deg);
    animation: .8s uni-front-leg-ked-nose linear infinite;
}
.uni__back-leg:after .uni__ked:after {
    content: '';
    position: absolute;
    top: -3px;
    left: 2px;
    width: 12px;
    height: 5px;
    border-radius: 2px;
    background: #27292B;
    transform: rotate(-90deg); 
}

.uni__shirt {
    position: absolute;
    top: 40px;
    left: 15px;
    width: 50px;
    height: 133px;
    border-radius: 70% 0;
    background: #D63942;
    transform: rotate(15deg);
    animation: .8s uni-shirt linear infinite;
    z-index: 5;
}
.uni__shirt:before {
    content: '';
    position: absolute;
    top: 53px;
    left: 0px;
    height: 0;
    width: 16px;
    border-bottom: 80px solid #D63942;
    border-left: 10px solid transparent;
    border-right: 25px solid transparent;
    border-radius: 0 0 100% 0 / 0 0 40% 0;
}
.uni__shirt:after {
    content: '';
    position: absolute;
    top: 3px;
    left: -5px;
    height: 131px;
    width: 60px;
    /* width: 28px; */
    box-sizing: border-box;
    border-radius: 100% 0 100% 0;
    transform: rotate(-180deg);
    border-bottom: 8px solid #D63942;
    border-right: 8px solid #D63942;
}

.uni__collar {
    position: absolute;
    top: -14px;
    left: 45px;
    width: 8px;
    height: 20px;
    background: #EFA47B;
    border-radius: 0 0 4px 0;
    transform: rotate(-0deg);
}
.uni__collar:before {
    content: '';
    position: absolute;
    top: 13px;
    left: -2px;
    width: 8px;
    height: 30px;
    background: #D63942;
}
.uni__collar:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #EFA47B;
}

.uni__arm {
    position: absolute;
    top: 78px;
    left: 45px;
    width: 15px;
    height: 45px;
    transform-origin: 30px -12px;
    animation: .8s uni-arm linear infinite;
    z-index: 5;
}
.uni__arm:after {
    content: '';
    position: absolute;
    top: 40px;
    left: -11px;
    width: 12px;
    height: 8px;
    border-radius: 40% 0 0 1px;
    background: #EFA47B;
    transform: rotate(10deg);
}
.uni__arm:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 45px;
    background: #EFA47B;
    border-radius: 5px 0 0 80%;
    transform: rotate(30deg);
    box-shadow: inset 0 4px 0 0 #EF8A70, inset 2px 0 0 0 #EF8A70;
}

.uni__sleeve {
    position: absolute;
    top: -26px;
    left: 22px;
    width: 25px;
    height: 28px;
    background: #d53942;
    box-shadow: -1px -1px 0 0 rgba(0, 0, 0, .1);
    border-radius: 20px 20px 0 0;
    transform-origin: 5px top;
    transform: rotate(24deg);
}
.uni__sleeve:after {
    content: '';
    position: absolute;
    top: 28px;
    left: -2px;
    width: 29px;
    height: 5px;
    border-radius: 2px;
    background: #c5343d;
    transform-origin: left bottom;
}

.uni__forearm {
    position: absolute;
    top: -10px;
    left: -5px;
    height: 0;
    width: 4px;
    border-bottom: 52px solid #EFA47B;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    transform: rotate(139deg);
    transform-origin: bottom center;
    animation: .8s uni-forearm linear infinite;
}
.uni__forearm:before {
    content: '';
    position: absolute;
    top: 27px;
    left: -3px;
    width: 8px;
    height: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(14deg);
}
.uni__forearm:after {
    content: '';
    position: absolute;
    top: 19px;
    left: -1px;
    width: 5px;
    height: 3px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(14deg);
}

.uni__hand {
    position: absolute;
    top: 6px;
    left: -1px;
    height: 15px;
    width: 5px;
    background: #EFA47B;
    border-radius: 3px 3px 0 0;
    transform: rotate(181deg);
    transform-origin: center top;
    animation: .8s uni-hand linear infinite;
}
.uni__hand:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -2px;
    height: 24px;
    width: 12px;
    border-radius: 0 100% 2px 4px;
    transform: rotate(30deg);
    background: #EFA47B;
}
.uni__hand:before:after {
    content: '';
    position: absolute;
    top: 11px;
    left: -9px;
    height: 12px;
    width: 15px;
    border-radius: 4px 0 4px 4px;
    transform: rotate(-30deg);
    background: #EFA47B;
}

.uni__arm:nth-child(1) {
    position: absolute;
    top: 77px;
    left: 53px;
    width: 15px;
    height: 45px;
    transform-origin: 30px -8px;
    transform: rotate(-10deg);
    animation: .8s uni-back-arm linear infinite;
    z-index: 1;
}
.uni__arm:nth-child(1):before {
    content: '';
    position: absolute;
    top: 40px;
    left: -11px;
    width: 12px;
    height: 8px;
    border-radius: 40% 0 0 1px;
    background: #EFA47B;
    transform: rotate(10deg);
}
.uni__arm:nth-child(1):after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 45px;
    background: #EFA47B;
    border-radius: 5px 0 0 80%;
    transform: rotate(30deg);
    box-shadow: inset 0 4px 0 0 #DC7465, inset 2px 0 0 0 #DC7465;
}

.uni__arm:nth-child(1) .uni__sleeve {
    position: absolute;
    top: -27px;
    left: 17px;
    width: 25px;
    height: 28px;
    background: #75012C;
    border-radius: 20px 20px 0 0;
    transform-origin: 5px top;
    transform: rotate(24deg);
}
.uni__arm:nth-child(1):after .uni__sleeve:after {
    content: '';
    position: absolute;
    top: 28px;
    left: -3px;
    width: 30px;
    height: 5px;
    background: #75012C;
}

.uni__arm:nth-child(1) .uni__forearm {
    position: absolute;
    top: -10px;
    left: -5px;
    height: 0;
    width: 4px;
    border-bottom: 52px solid #EFA47B;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    transform: rotate(135deg);
    transform-origin: bottom center;
    animation: .8s uni-back-forearm linear infinite;
}
.uni__arm:nth-child(1):before .uni__forearm:before {
    content: '';
    position: absolute;
    top: 27px;
    left: -3px;
    width: 8px;
    height: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(14deg);
}
.uni__arm:nth-child(1):after .uni__forearm:after {
    content: '';
    position: absolute;
    top: 19px;
    left: -1px;
    width: 5px;
    height: 3px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(14deg);
}

.uni__arm:nth-child(1) .uni__hand {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 15px;
    width: 5px;
    background: #EFA47B;
    border-radius: 3px 3px 0 0;
    transform: rotate(163deg);
    transform-origin: center top;
    animation: .8s uni-back-hand linear infinite;
}
.uni__arm:nth-child(1):before .uni__hand:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -2px;
    height: 24px;
    width: 12px;
    border-radius: 0 100% 2px 4px;
    transform: rotate(30deg);
    background: #EFA47B;
}
.uni__arm:nth-child(1):after .uni__hand:after {
    content: '';
    position: absolute;
    top: 11px;
    left: -9px;
    height: 12px;
    width: 15px;
    border-radius: 4px 0 4px 4px;
    transform: rotate(-30deg);
    background: #EFA47B;
}

.uni__head {
    position: absolute;
    top: -12px;
    left: 60px;
    width: 50px;
    height: 58px;
    background: #EFA47B;
    border-radius: 0 100%;
    z-index: 10;
    transform: rotate(20deg); 
    animation: .8s uni-head linear infinite;
}
.uni__head:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 28px;
    width: 50px;
    height: 50px;
    border-radius: 100% 0;
    background: #EFA47B;
    transform: rotate(-40deg);
}
.uni__head:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 20px;
    width: 40px;
    height: 40px;
    background: #EFA47B;
    transform: rotate(-20deg); 
}

.uni__eye {
    position: absolute;
    top: 2px;
    left: 41px;
    width: 8px;
    height: 17px;
    border-radius: 100%;
    background: white;
    transform: rotate(-20deg);
    z-index: 1; 
}
.uni__eye:nth-child(1) {
    box-shadow: 0 0 0 3px #EF8A70;
}
.uni__eye:nth-child(2) {
    top: -4px;
    left: 56px;
}
.uni__eye:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    width: 5px;
    height: 7px;
    box-sizing: border-box;
    box-shadow: inset 1px 0 0 2px black;
    background: white;
    border-radius: 100%;
}
.uni__eye:after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 13px;
    height: 3px;
    border-radius: 1px;
    background: #75012C;
}

.uni__nose {
    position: absolute;
    top: -10px;
    left: 50px;
    width: 5px;
    height: 30px;
    border-radius: 0 0 0 100%;
    background: #EF425A;
    transform: rotate(-20deg);
    z-index: 18;
}
.uni__nose:before {
    content: '';
    position: absolute;
    top: 22px;
    left: 4px;
    width: 14px;
    height: 10px;
    box-sizing: border-box;
    background: #EF425A;
    border-radius: 100%;
    transform: rotate(-25deg); 
}
.uni__nose:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 4px;
    height: 25px;
    border-radius: 1px;
    background: #EF425A;
    transform: rotate(-10deg);
}

.uni__month {
    position: absolute;
    top: 36px;
    left: 33px;
    width: 23px;
    height: 15px;
    border-radius: 100% 0 100% 100%;
    background: white;
}

.uni__whisker:nth-child(3) {
    position: absolute;
    top: 6px;
    left: 60px;
    width: 17px;
    height: 23px;
    border-radius: 100%;
    background: #75012C;
    transform: rotate(-30deg);
    z-index: 17;
}
.uni__whisker:nth-child(3):before {
    content: '';
    position: absolute;
    top: 12px;
    left: 0px;
    width: 19px;
    height: 14px;
    background: #75012C;
    border-radius: 0 0 0 100%;
}
.uni__whisker:nth-child(3):after {
    content: '';
    position: absolute;
    top: 11px;
    left: 19px;
    width: 19px;
    height: 13px;
    background: #75012C;
    border-radius: 0 0 100% 0;
    transform: rotate(-6deg);
}

.uni__whisker:nth-child(6) {
    position: absolute;
    top: 12px;
    left: 39px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #75012C;
    z-index: 19;
}
.uni__whisker:nth-child(6):before {
    content: '';
    position: absolute;
    top: 12px;
    left: -5px;
    width: 30px;
    height: 17px;
    background: #75012C;
    border-radius: 2px 0 100% 0;
}
.uni__whisker:nth-child(6):after {
    content: '';
    position: absolute;
    top: 10.5px;
    left: -24px;
    width: 19px;
    height: 17px;
    background: #75012C;
    border-radius: 0 0 0 100%;
    transform: rotate(10deg);
}

.uni__cap {
    position: absolute;
    top: -28px;
    left: -5px;
    width: 60px;
    height: 20px;
    border-radius: 100%;
    background: #D63942;
    transform: rotate(-3deg);
    z-index: 20;
}
.uni__cap:before {
    content: '';
    position: absolute;
    top: 7px;
    left: -2px;
    width: 15px;
    height: 31px;
    background: #D63942;
    border-radius: 100% 100% 100% 0;
    transform: rotate(-9deg); 
}
.uni__cap:after {
    content: '';
    position: absolute;
    top: 13.5px;
    left: -2px;
    width: 58px;
    height: 17px;
    background: #D63942;
    border-radius: 20px;
    transform: rotate(-20deg);
}

.uni__peak {
    position: absolute;
    top: -23px;
    left: 50px;
    width: 39px;
    height: 39px;
    border-radius: 100% 0;
    background: #A92731;
    transform: rotate(-14deg);
    z-index: 21;
}
.uni__peak:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -1px;
    width: 39px;
    height: 18px;
    border-radius: 0 100%;
    background: #A92731;
    transform: rotate(-42deg);
}
.uni__peak:after {
    content: '';
    position: absolute;
    top: 14px;
    left: -12px;
    width: 17px;
    height: 17px;
    border-right: 4px solid #A92731;
    border-top: 4px solid #A92731;
    border-radius: 0 100% 0 0;
    transform: rotate(53deg);
}

.uni__peak-parts {
    position: absolute;
    top: 14px;
    left: 2px;
    width: 10px;
    height: 10px;
    background: #A92731;
}
.uni__peak-parts:before {
    content: '';
    position: absolute;
    top: 15.5px;
    left: -13px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #A92731;
    border-left: 14px solid transparent;
    transform: rotate(-7deg); 
}

.uni__cloud-1 {
    position: absolute;
    top: 70px;
    left: 300px;
    width: 60px;
    height: 60px;
    border-radius: 100% 100% 0 100%;
    background: white;
    animation: .8s uni-cloud linear infinite;
    animation-delay: -.2s;
    opacity: .6;
}
.uni__cloud-1:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 54px;
    width: 40px;
    height: 40px;
    border-radius: 100% 100% 0 0;
    background: white;
}
.uni__cloud-1:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 90px;
    width: 30px;
    height: 30px;
    border-radius: 100% 100% 100% 0;
    background: white;
}

.uni__cloud-2 {
    position: absolute;
    top: 172px;
    left: 110px;
    width: 34px;
    height: 34px;
    border-radius: 100% 100% 100% 0;
    background: white;
    animation: .8s uni-cloud linear infinite;
    animation-delay: -.5s;
    opacity: .6;
}
.uni__cloud-2:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 24px;
    height: 24px;
    border-radius: 100% 100% 0 0;
    background: white;
}
.uni__cloud-2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -30px;
    width: 20px;
    height: 20px;
    border-radius: 100% 100% 0 100%;
    background: white;
}

.uni__cloud-3 {
    position: absolute;
    top: 172px;
    left: 630px;
    width: 34px;
    height: 34px;
    border-radius: 100% 100% 100% 0;
    background: white;
    animation: .8s uni-cloud linear infinite;
    animation-delay: -.8s;
    opacity: .6;
}
.uni__cloud-3:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 24px;
    height: 24px;
    border-radius: 100% 100% 0 0;
    background: white;
}
.uni__cloud-3:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -30px;
    width: 20px;
    height: 20px;
    border-radius: 100% 100% 0 100%;
    background: white;
}

/* Анимации */
@keyframes uni-wheel-1 {
  0%    { left: 9px; transform: rotate(0deg); }
  5%    { left: 9px; }
  10%   { left: 8px; }
  15%   { left: 6px; }
  20%   { left: 3px; }
  25%   { left: 0px; }
  30%   { left: -4px; }
  35%   { left: -8px; }
  40%   { left: -10px; }
  45%   { left: -12px; }
  50%   { left: -12px; }
  55%   { left: -12px; }
  60%   { left: -12px; }
  65%   { left: -10px; }
  70%   { left: -7px; }
  75%   { left: -3px; }
  80%   { left: 2px; }
  85%   { left: 5px; }
  90%   { left: 8px; }
  95%   { left: 9px; }
  100%  { left: 9px; transform: rotate(720deg); }
}

@keyframes uni-star {
  0%    { top: 135px; left: 0px; transform: rotate(43deg); }
  5%    { top: 135px; left: 0px; transform: rotate(53deg); }
  10%   { top: 135px; left: 0px; transform: rotate(77deg); }
  15%   { top: 135px; left: 0px; transform: rotate(94deg); }
  20%   { top: 135px; left: 0px; transform: rotate(114deg); }
  25%   { top: 135px; left: 0px; transform: rotate(130deg); }
  30%   { top: 135px; left: 0px; transform: rotate(152deg); }
  35%   { top: 132px; left: 0px; transform: rotate(172deg); }
  40%   { top: 131px; left: 0px; transform: rotate(192deg); }
  45%   { top: 126px; left: 0px; transform: rotate(212deg); }
  50%   { top: 126px; left: 0px; transform: rotate(232deg); }
  55%   { top: 130px; left: 0px; transform: rotate(242deg); }
  60%   { top: 130px; left: 0px; transform: rotate(252deg); }
  65%   { top: 130px; left: 0px; transform: rotate(271deg); }
  70%   { top: 130px; left: 0px; transform: rotate(288deg); }
  75%   { top: 132px; left: 0px; transform: rotate(303deg); }
  80%   { top: 132px; left: 0px; transform: rotate(325deg); }
  85%   { top: 130px; left: 0px; transform: rotate(355deg); }
  90%   { top: 135px; left: 0px; transform: rotate(370deg); }
  95%   { top: 136px; left: 0px; transform: rotate(385deg); }
  100%  { top: 135px; left: 0px; transform: rotate(43deg); }
}

@keyframes uni-pedal {
  0%    { transform: rotate(-94deg); }
  5%    { transform: rotate(-106deg); }
  10%   { transform: rotate(-130deg); }
  15%   { transform: rotate(-146deg); }
  20%   { transform: rotate(-170deg); }
  25%   { transform: rotate(-187deg); }
  30%   { transform: rotate(-213deg); }
  35%   { transform: rotate(-233deg); }
  40%   { transform: rotate(-253deg); }
  45%   { transform: rotate(-273deg); }
  50%   { transform: rotate(-293deg); }
  55%   { transform: rotate(-303deg); }
  60%   { transform: rotate(-314deg); }
  65%   { transform: rotate(-334deg); }
  70%   { transform: rotate(-349deg); }
  75%   { transform: rotate(-362deg); }
  80%   { transform: rotate(-382deg); }
  85%   { transform: rotate(-407deg); }
  90%   { transform: rotate(-421deg); }
  95%   { transform: rotate(-435deg); }
  100%  { transform: rotate(-99deg); } 
}

@keyframes uni-pedal-back {
    0%    { transform: rotate(-293deg); }
    5%    { transform: rotate(-303deg); }
    10%   { transform: rotate(-314deg); }
    15%   { transform: rotate(-334deg); }
    20%   { transform: rotate(-349deg); }
    25%   { transform: rotate(-362deg); }
    30%   { transform: rotate(-382deg); }
    35%   { transform: rotate(-407deg); }
    40%   { transform: rotate(-421deg); }
    45%   { transform: rotate(-435deg); }
    50%   { transform: rotate(-99deg); }
    55%   { transform: rotate(-94deg); }
    60%   { transform: rotate(-106deg); }
    65%   { transform: rotate(-130deg); }
    70%   { transform: rotate(-146deg); }
    75%   { transform: rotate(-170deg); }
    80%   { transform: rotate(-187deg); }
    85%   { transform: rotate(-213deg); }
    90%   { transform: rotate(-233deg); }
    95%   { transform: rotate(-253deg); }
    100%  { transform: rotate(-273deg); } 
  }

@keyframes uni-tubes {
  0%    { top: 0px; left: 70px; transform: rotate(0deg); }
  5%    { top: 0px; left: 70px; transform: rotate(1deg); }
  10%   { top: 0px; left: 70px; transform: rotate(2deg); }
  15%   { top: 0px; left: 70px; transform: rotate(3deg); }
  20%   { top: 0px; left: 70px; transform: rotate(3.5deg); }
  25%   { top: 2px; left: 68px; transform: rotate(5deg); }
  30%   { top: 6px; left: 66px; transform: rotate(8deg); }
  35%   { top: 10px; left: 64px; transform: rotate(10deg); }
  40%   { top: 12px; left: 62px; transform: rotate(12deg); }
  45%   { top: 13px; left: 62px; transform: rotate(13deg); }
  50%   { top: 13px; left: 62px; transform: rotate(11deg); }
  55%   { top: 13px; left: 62px; transform: rotate(13deg); }
  60%   { top: 13px; left: 62px; transform: rotate(13deg); }
  65%   { top: 12px; left: 62px; transform: rotate(11deg); }
  70%   { top: 11px; left: 64px; transform: rotate(10deg); }
  75%   { top: 9px; left: 66px; transform: rotate(8deg); }
  80%   { top: 6px; left: 66px; transform: rotate(5deg); }
  85%   { top: 4px; left: 67px; transform: rotate(3deg); }
  90%   { top: 2px; left: 68px; transform: rotate(1deg); }
  95%   { top: 1px; left: 70px; transform: rotate(0deg); }
  100%  { top: 0px; left: 70px; transform: rotate(0deg); }
}

@keyframes uni-man {
  0%    { top: 60px; left: 280px; }
  5%    { top: 61px; left: 278px; }
  10%   { top: 63px; left: 275px; }
  15%   { top: 64px; left: 270px; }
  20%   { top: 67px; left: 268px; }
  25%   { top: 70px; left: 269px; }
  30%   { top: 72px; left: 270px; }
  35%   { top: 71px; left: 275px; }
  40%   { top: 70px; left: 278px; }
  45%   { top: 67px; left: 282px; }
  50%   { top: 66px; left: 283px; }
  55%   { top: 66px; left: 281px; }
  60%   { top: 67px; left: 277px; }
  65%   { top: 69px; left: 271px; }
  70%   { top: 70px; left: 268px; }
  75%   { top: 69px; left: 268px; }
  80%   { top: 66px; left: 269px; }
  85%   { top: 63px; left: 274px; }
  90%   { top: 62px; left: 277px; }
  95%   { top: 61px; left: 278px; }
  100%  { top: 60px; left: 280px; }
}

@keyframes uni-butt {
  0%    {  }
  5%    {  }
  10%   {  }
  15%   {  }
  20%   {  }
  25%   {  }
  30%   {  }
  35%   {  }
  40%   {  }
  45%   {  }
  50%   {  }
  55%   {  }
  60%   {  }
  65%   {  }
  70%   {  }
  75%   {  }
  80%   {  }
  85%   {  }
  90%   {  }
  95%   {  }
  100%  {  }
}

@keyframes uni-shirt {
  0%    { top: 40px; left: 15px; transform: rotate(15deg); }
  5%    { top: 40px; left: 14px; transform: rotate(16deg); }
  10%   { top: 39px; left: 13px; transform: rotate(17deg); }
  15%   { top: 38px; left: 15px; transform: rotate(16deg); }
  20%   { top: 38px; left: 16px; transform: rotate(16deg); }
  25%   { top: 36px; left: 16px; transform: rotate(16deg); }
  30%   { top: 35px; left: 16px; transform: rotate(16deg); }
  35%   { top: 35px; left: 16px; transform: rotate(16deg); }
  40%   { top: 36px; left: 16px; transform: rotate(16deg); }
  45%   { top: 35px; left: 16px; transform: rotate(16deg); }
  50%   { top: 34px; left: 17px; transform: rotate(17deg); }
  55%   { top: 35px; left: 17px; transform: rotate(17deg); }
  60%   { top: 35px; left: 17px; transform: rotate(17deg); }
  65%   { top: 34px; left: 17px; transform: rotate(17deg); }
  70%   { top: 34px; left: 17px; transform: rotate(17deg); }
  75%   { top: 35px; left: 18px; transform: rotate(15deg); }
  80%   { top: 36px; left: 15px; transform: rotate(15deg); }
  85%   { top: 40px; left: 15px; transform: rotate(13deg); }
  90%   { top: 40px; left: 15px; transform: rotate(13deg); }
  95%   { top: 40px; left: 15px; transform: rotate(13deg); }
  100%  { top: 40px; left: 14px; transform: rotate(14deg); }
}


@keyframes uni-head {
  0%    { top: -12px; left: 60px; transform: rotate(20deg); }
  5%    { top: -12px; left: 61px; transform: rotate(20deg); }
  10%   { top: -12px; left: 62px; transform: rotate(18deg); }
  15%   { top: -12px; left: 63px; transform: rotate(18deg); }
  20%   { top: -12px; left: 64px; transform: rotate(18deg); }
  25%   { top: -12px; left: 65px; transform: rotate(17deg); }
  30%   { top: -12px; left: 66px; transform: rotate(17deg); }
  35%   { top: -11px; left: 65px; transform: rotate(17deg); }
  40%   { top: -11px; left: 65px; transform: rotate(17deg); }
  45%   { top: -11px; left: 66px; transform: rotate(17deg); }
  50%   { top: -11px; left: 66px; transform: rotate(17deg); }
  55%   { top: -11px; left: 67px; transform: rotate(17deg); }
  60%   { top: -10px; left: 68px; transform: rotate(17deg); }
  65%   { top: -10px; left: 69px; transform: rotate(17deg); }
  70%   { top: -10px; left: 70px; transform: rotate(17deg); }
  75%   { top: -9px; left: 69px; transform: rotate(17deg); }
  80%   { top: -9px; left: 63px; transform: rotate(17deg); }
  85%   { top: -9px; left: 59px; transform: rotate(14deg); }
  90%   { top: -9px; left: 59px; transform: rotate(17deg); }
  95%   { top: -12px; left: 60px; transform: rotate(20deg); }
  100%  { top: -12px; left: 60px; transform: rotate(20deg); }
}


@keyframes uni-back-arm {
  0%    { transform: rotate(2deg); }
  5%    { transform: rotate(0deg); }
  10%   { transform: rotate(-4deg); }
  15%   { transform: rotate(-9deg); }
  20%   { transform: rotate(-12deg); }
  25%   { transform: rotate(-10deg); }
  30%   { transform: rotate(-7deg); }
  35%   { transform: rotate(-1deg); }
  40%   { transform: rotate(2deg); }
  45%   { transform: rotate(2deg); }
  50%   { transform: rotate(2deg); }
  55%   { transform: rotate(0deg); }
  60%   { transform: rotate(-4deg); }
  65%   { transform: rotate(-10deg); }
  70%   { transform: rotate(-14deg); }
  75%   { transform: rotate(-13deg); }
  80%   { transform: rotate(-8deg); }
  85%   { transform: rotate(-1deg); }
  90%   { transform: rotate(1deg); }
  95%   { transform: rotate(1deg); }
  100%  { transform: rotate(2deg); }
}

@keyframes uni-back-forearm {
  0%    { transform: rotate(135deg); }
  5%    { transform: rotate(133deg); }
  10%   { transform: rotate(125deg); }
  15%   { transform: rotate(120deg); }
  20%   { transform: rotate(116deg); }
  25%   { transform: rotate(108deg); }
  30%   { transform: rotate(108deg); }
  35%   { transform: rotate(110deg); }
  40%   { transform: rotate(121deg); }
  45%   { transform: rotate(132deg); }
  50%   { transform: rotate(137deg); }
  55%   { transform: rotate(136deg); }
  60%   { transform: rotate(131deg); }
  65%   { transform: rotate(127deg); }
  70%   { transform: rotate(124deg); }
  75%   { transform: rotate(120deg); }
  80%   { transform: rotate(118deg); }
  85%   { transform: rotate(119deg); }
  90%   { transform: rotate(128deg); }
  95%   { transform: rotate(138deg); }
  100%  { transform: rotate(135deg); }
}

@keyframes uni-back-hand {
  0%    { transform: rotate(181deg); }
  5%    { transform: rotate(181deg); }
  10%   { transform: rotate(181deg); }
  15%   { transform: rotate(201deg); }
  20%   { transform: rotate(210deg); }
  25%   { transform: rotate(210deg); }
  30%   { transform: rotate(210deg); }
  35%   { transform: rotate(213deg); }
  40%   { transform: rotate(212deg); }
  45%   { transform: rotate(212deg); }
  50%   { transform: rotate(180deg); }
  55%   { transform: rotate(180deg); }
  60%   { transform: rotate(193deg); }
  65%   { transform: rotate(201deg); }
  70%   { transform: rotate(201deg); }
  75%   { transform: rotate(210deg); }
  80%   { transform: rotate(200deg); }
  85%   { transform: rotate(200deg); }
  90%   { transform: rotate(200deg); }
  95%   { transform: rotate(200deg); }
  100%  { transform: rotate(181deg); }
}

@keyframes uni-back-leg {
  0%    { transform: rotate(-103deg); }
  5%    { transform: rotate(-105deg); }
  10%   { transform: rotate(-107deg); }
  15%   { transform: rotate(-104deg); }
  20%   { transform: rotate(-96deg); }
  25%   { transform: rotate(-87deg); }
  30%   { transform: rotate(-73deg); }
  35%   { transform: rotate(-60deg); }
  40%   { transform: rotate(-50deg); }
  45%   { transform: rotate(-46deg); }
  50%   { transform: rotate(-39deg); }
  55%   { transform: rotate(-38deg); }
  60%   { transform: rotate(-31deg); }
  65%   { transform: rotate(-30deg); }
  70%   { transform: rotate(-34deg); }
  75%   { transform: rotate(-34deg); }
  80%   { transform: rotate(-36deg); }
  85%   { transform: rotate(-40deg); }
  90%   { transform: rotate(-58deg); }
  95%   { transform: rotate(-70deg); }
  100%  { transform: rotate(-89deg); }
}

@keyframes uni-back-leg-shin {
  0%    { transform: rotate(149deg); }
  5%    { transform: rotate(146deg); }
  10%   { transform: rotate(143deg); }
  15%   { transform: rotate(133deg); }
  20%   { transform: rotate(126deg); }
  25%   { transform: rotate(117deg); }
  30%   { transform: rotate(105deg); }
  35%   { transform: rotate(92deg); }
  40%   { transform: rotate(86deg); }
  45%   { transform: rotate(84deg); }
  50%   { transform: rotate(82deg); }
  55%   { transform: rotate(79deg); }
  60%   { transform: rotate(75deg); }
  65%   { transform: rotate(83deg); }
  70%   { transform: rotate(91deg); }
  75%   { transform: rotate(98deg); }
  80%   { transform: rotate(106deg); }
  85%   { transform: rotate(116deg); }
  90%   { transform: rotate(131deg); }
  95%   { transform: rotate(140deg); }
  100%  { transform: rotate(147deg); }
}

@keyframes uni-back-leg-ked {
  0%    { transform: rotate(-50deg); }
  5%    { transform: rotate(-47deg); }
  10%   { transform: rotate(-45deg); }
  15%   { transform: rotate(-36deg); }
  20%   { transform: rotate(-34deg); }
  25%   { transform: rotate(-30deg); }
  30%   { transform: rotate(-28deg); }
  35%   { transform: rotate(-25deg); }
  40%   { transform: rotate(-23deg); }
  45%   { transform: rotate(-21deg); }
  50%   { transform: rotate(-28deg); }
  55%   { transform: rotate(-40deg); }
  60%   { transform: rotate(-38deg); }
  65%   { transform: rotate(-40deg); }
  70%   { transform: rotate(-40deg); }
  75%   { transform: rotate(-56deg); }
  80%   { transform: rotate(-64deg); }
  85%   { transform: rotate(-68deg); }
  90%   { transform: rotate(-70deg); }
  95%   { transform: rotate(-71deg); }
  100%  { transform: rotate(-65deg); }
}

@keyframes uni-back-leg-ked-nose {
  0%    { transform: rotate(-10deg); }
  5%    { transform: rotate(-12deg); }
  10%   { transform: rotate(-21deg); }
  15%   { transform: rotate(-24deg); }
  20%   { transform: rotate(-27deg); }
  25%   { transform: rotate(-27deg); }
  30%   { transform: rotate(-39deg); }
  35%   { transform: rotate(-50deg); }
  40%   { transform: rotate(-48deg); }
  45%   { transform: rotate(-63deg); }
  50%   { transform: rotate(-60deg); }
  55%   { transform: rotate(-67deg); }
  60%   { transform: rotate(-60deg); }
  65%   { transform: rotate(-46deg); }
  70%   { transform: rotate(-40deg); }
  75%   { transform: rotate(-41deg); }
  80%   { transform: rotate(-36deg); }
  85%   { transform: rotate(-43deg); }
  90%   { transform: rotate(-38deg); }
  95%   { transform: rotate(-16deg); }
  100%  { transform: rotate(-10deg); }
}

@keyframes uni-front-leg {
  0%    { transform: rotate(-38deg); }
  5%    { transform: rotate(-31deg); }
  10%   { transform: rotate(-30deg); }
  15%   { transform: rotate(-34deg); }
  20%   { transform: rotate(-34deg); }
  25%   { transform: rotate(-36deg); }
  30%   { transform: rotate(-40deg); }
  35%   { transform: rotate(-58deg); }
  40%   { transform: rotate(-70deg); }
  45%   { transform: rotate(-89deg); }
  50%   { transform: rotate(-103deg);}
  55%   { transform: rotate(-105deg);}
  60%   { transform: rotate(-107deg);}
  65%   { transform: rotate(-104deg);}
  70%   { transform: rotate(-96deg); }
  75%   { transform: rotate(-87deg); }
  80%   { transform: rotate(-73deg); }
  85%   { transform: rotate(-60deg); }
  90%   { transform: rotate(-50deg); }
  95%   { transform: rotate(-46deg); }
  100%  { transform: rotate(-39deg); }
}

@keyframes uni-front-leg-shin {
  0%    { transform: rotate(79deg); }
  5%    { transform: rotate(75deg); }
  10%   { transform: rotate(83deg); }
  15%   { transform: rotate(91deg); }
  20%   { transform: rotate(98deg); }
  25%   { transform: rotate(106deg); }
  30%   { transform: rotate(116deg); }
  35%   { transform: rotate(131deg); }
  40%   { transform: rotate(140deg); }
  45%   { transform: rotate(147deg); }
  50%   { transform: rotate(149deg); }
  55%   { transform: rotate(146deg); }
  60%   { transform: rotate(143deg); }
  65%   { transform: rotate(133deg); }
  70%   { transform: rotate(126deg); }
  75%   { transform: rotate(117deg); }
  80%   { transform: rotate(105deg); }
  85%   { transform: rotate(92deg); }
  90%   { transform: rotate(86deg); }
  95%   { transform: rotate(84deg); }
  100%  { transform: rotate(82deg); }
}

@keyframes uni-front-leg-ked {
  0%    { transform: rotate(-40deg); }
  5%    { transform: rotate(-38deg); }
  10%   { transform: rotate(-40deg); }
  15%   { transform: rotate(-40deg); }
  20%   { transform: rotate(-56deg); }
  25%   { transform: rotate(-64deg); }
  30%   { transform: rotate(-68deg); }
  35%   { transform: rotate(-70deg); }
  40%   { transform: rotate(-71deg); }
  45%   { transform: rotate(-65deg); }
  50%   { transform: rotate(-50deg); }
  55%   { transform: rotate(-47deg); }
  60%   { transform: rotate(-45deg); }
  65%   { transform: rotate(-36deg); }
  70%   { transform: rotate(-34deg); }
  75%   { transform: rotate(-30deg); }
  80%   { transform: rotate(-28deg); }
  85%   { transform: rotate(-25deg); }
  90%   { transform: rotate(-23deg); }
  95%   { transform: rotate(-21deg); }
  100%  { transform: rotate(-28deg); }
}

@keyframes uni-front-leg-ked-nose {
  0%    { transform: rotate(-70deg); }
  5%    { transform: rotate(-65deg); }
  10%   { transform: rotate(-60deg); }
  15%   { transform: rotate(-51deg); }
  20%   { transform: rotate(-54deg); }
  25%   { transform: rotate(-48deg); }
  30%   { transform: rotate(-30deg); }
  35%   { transform: rotate(-28deg); }
  40%   { transform: rotate(-26deg); }
  45%   { transform: rotate(-30deg); }
  50%   { transform: rotate(-20deg); }
  55%   { transform: rotate(-15deg); }
  60%   { transform: rotate(-39deg); }
  65%   { transform: rotate(-40deg); }
  70%   { transform: rotate(-40deg); }
  75%   { transform: rotate(-50deg); }
  80%   { transform: rotate(-47deg); }
  85%   { transform: rotate(-56deg); }
  90%   { transform: rotate(-57deg); }
  95%   { transform: rotate(-64deg); }
  100%  { transform: rotate(-70deg); } 
}

@keyframes uni-arm {
  0%    { transform: rotate(0deg); }
  5%    { transform: rotate(-2deg); }
  10%   { transform: rotate(-5deg); }
  15%   { transform: rotate(-11deg); }
  20%   { transform: rotate(-14deg); }
  25%   { transform: rotate(-11deg); }
  30%   { transform: rotate(-9deg); }
  35%   { transform: rotate(-3deg); }
  40%   { transform: rotate(0deg); }
  45%   { transform: rotate(1deg); }
  50%   { transform: rotate(0deg); }
  55%   { transform: rotate(-2deg); }
  60%   { transform: rotate(-6deg); }
  65%   { transform: rotate(-12deg); }
  70%   { transform: rotate(-16deg); }
  75%   { transform: rotate(-14deg); }
  80%   { transform: rotate(-9deg); }
  85%   { transform: rotate(-3deg); }
  90%   { transform: rotate(-0deg); }
  95%   { transform: rotate(-0deg); }
  100%  { transform: rotate(0deg); }
}

@keyframes uni-forearm {
  0%    { transform: rotate(139deg); }
  5%    { transform: rotate(136deg); }
  10%   { transform: rotate(126deg); }
  15%   { transform: rotate(124deg); }
  20%   { transform: rotate(119deg); }
  25%   { transform: rotate(109deg); }
  30%   { transform: rotate(109deg); }
  35%   { transform: rotate(113deg); }
  40%   { transform: rotate(124deg); }
  45%   { transform: rotate(133deg); }
  50%   { transform: rotate(139deg); }
  55%   { transform: rotate(139deg); }
  60%   { transform: rotate(133deg); }
  65%   { transform: rotate(130deg); }
  70%   { transform: rotate(126deg); }
  75%   { transform: rotate(121deg); }
  80%   { transform: rotate(120deg); }
  85%   { transform: rotate(123deg); }
  90%   { transform: rotate(131deg); }
  95%   { transform: rotate(140deg); }
  100%  { transform: rotate(139deg); }
}

@keyframes uni-hand {
  0%    { transform: rotate(181deg); }
  5%    { transform: rotate(181deg); }
  10%   { transform: rotate(201deg); }
  15%   { transform: rotate(206deg); }
  20%   { transform: rotate(216deg); }
  25%   { transform: rotate(216deg); }
  30%   { transform: rotate(216deg); }
  35%   { transform: rotate(208deg); }
  40%   { transform: rotate(200deg); }
  45%   { transform: rotate(193deg); }
  50%   { transform: rotate(185deg); }
  55%   { transform: rotate(189deg); }
  60%   { transform: rotate(197deg); }
  65%   { transform: rotate(204deg); }
  70%   { transform: rotate(208deg); }
  75%   { transform: rotate(207deg); }
  80%   { transform: rotate(203deg); }
  85%   { transform: rotate(196deg); }
  90%   { transform: rotate(186deg); }
  95%   { transform: rotate(181deg); }
  100%  { transform: rotate(181deg); }
}

@keyframes uni-cloud {
  0%    { left: 800px; }
  100%  { left: -100px; }
}